* {font-family: Arial;}

h1{
	text-transform: uppercase;
	font-family: Helvetica;
	text-align: center;
	font-size: 120px;
	color: #003033;
	text-shadow: 2px 2px 2px #666666;
	}

h2, h5{
	color: DarkCyan;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

h3 {color: #03114f;}
h4 {color: darkcyan;}

ul, .dates, .info, .cr {
	text-align: right;
	color: DarkCyan;
	text-transform: uppercase;
}

h2 {
	text-align: center;
	background-color: rgba( 0, 0, 0, 0.2);
	}
	
body {
	background-color: rgba( 0, 0, 0, 0.1);
}